@-webkit-keyframes wave-hand {
    0%{transform: rotateZ(40deg);}
    20%{transform: rotateZ(118deg);}
    30%{transform: rotateZ(100deg)}
    40%{transform: rotateZ(118deg)}
    50%{transform: rotateZ(100deg)}
    60%{transform: rotateZ(118deg)}
    70%{transform: rotateZ(100deg)}
    80%{transform: rotateZ(118deg)}
    100%{transform: rotateZ(40deg);}
}
@-webkit-keyframes smile {
    0%{
        width: 40px;
        height: 0px;
        border: 2px solid #000;
        border-top: #fff;
        /* border-radius: 0 0 65px 65px; */
        position: absolute;
        left: 433px;
        top: 262px;
        /* background-color: red; */
    }
    20%{
        width: 140px;
        height: 65px;
        border: 2px solid #000;
        border-top: #fff;
        border-radius: 0 0 65px 65px;
        position: absolute;
        left: 383px;
        top: 199px;
        /*background-color: red;*/
    }
    55%{
        width: 140px;
        height: 65px;
        border: 2px solid #000;
        border-top: #fff;
        border-radius: 0 0 65px 65px;
        position: absolute;
        left: 383px;
        top: 199px;
        /*background-color: red;*/
    }
    80%{
        width: 40px;
        height: 0px;
        border: 2px solid #000;
        border-top: #fff;
        /* border-radius: 0 0 65px 65px; */
        position: absolute;
        left: 433px;
        top: 262px;
        /* background-color: red; */
    }
}

*{
    padding: 0;
    margin: 0;
}

/*脸*/
.face-blue{
    width: 230px;
    height: 240px;
    background-color: #00a0e8;
    border: 2px solid #000;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    left: 339px;
    top: 73px;
}

.face-white{
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 354px;
    top: 120px;
}

/*眼睛*/

.eye-left,.eye-right{
    width: 47px;
    height: 62px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50% / 50%;
}
.eye-left{
    position: absolute;
    left: 404px;
    top: 96px;
    -webkit-transform: rotateZ(-4deg);
}
.eye-right{
    position: absolute;
    left: 454px;
    top: 96px;
    -webkit-transform: rotateZ(4deg);
}
.eye-left-black,.eye-right-black{
    width: 17px;
    height: 22px;
    border-radius: 50% / 50%;
    background-color: #000;
}
.eye-left-black{
    position: absolute;
    left: 430px;
    top: 120px;
}
.eye-right-black{
    position: absolute;
    left: 461px;
    top: 120px;
}
.eye-left-white,.eye-right-white{
    width: 7px;
    height: 10px;
    background-color: #fff;
    border-radius: 50% / 50%;
}
.eye-left-white{
    position: absolute;
    left: 437px;
    top: 126px;
}
.eye-right-white{
    position: absolute;
    left: 463px;
    top: 125px;
}



/*围巾*/
.scarf-two{
    width: 165px;
    height: 20px;
    background-color: #fff;
    border-bottom: 3px solid #000;
    border-radius: 50% / 50%;
    position: absolute;
    left: 374px;
    top: 266px;
}
.scarf-three{
    width: 160px;
    height: 16px;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: 374px;
    top: 280px;
}

.scarf-one{
    width: 160px;
    height: 20px;
    border-bottom: 3px solid #000;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    left: 376px;
    top: 280px;
    background-color: #e2002a;
}

/*鼻子嘴巴*/

.nose-red{
    width: 27px;
    height: 27px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #df012a;
    position: absolute;
    left: 439px;
    top: 151px;
}
.nose-white{
    width: 9px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 454px;
    top: 158px;
}


.nose-line{
    height: 84px;
    border-right: 2px solid #000;
    position: absolute;
    left: 454px;
    top: 180px;
}
.mouse{
    width: 40px;
    height: 0px;
    border: 2px solid #000;
    border-top: #fff;
    /* border-radius: 0 0 65px 65px; */
    position: absolute;
    left: 433px;
    top: 262px;
    /* background-color: red; */
    -webkit-animation: smile 3s ease 2.5s;
}

/*胡须*/
.beard-left-one{
    height: 70px;
    border-left: 2px solid #000;
    position: absolute;
    left: 389px;
    top: 131px;
    transform: rotateZ(116deg);
}
.beard-right-one{
    height: 70px;
    border-left: 2px solid #000;
    position: absolute;
    left: 517px;
    top: 129px;
    transform: rotateZ(238deg);
}
.beard-right-two{
    height: 70px;
    border-left: 2px solid #000;
    position: absolute;
    left: 526px;
    top: 161px;
    transform: rotateZ(267deg);
}
.beard-left-two{
    height: 70px;
    border-left: 2px solid #000;
    position: absolute;
    left: 383px;
    top: 161px;
    transform: rotateZ(274deg);
}
.beard-left-three{
    height: 70px;
    border-left: 2px solid #000;
    position: absolute;
    left: 386px;
    top: 194px;
    transform: rotateZ(73deg);
}
.beard-right-three{
    height: 72px;
    border-left: 2px solid #000;
    position: absolute;
    left: 524px;
    top: 193px;
    transform: rotateZ(106deg);
}


.belly-blue{
    width: 160px;
    height: 145px;
    background-color: #00a0e8;
    border-bottom-left-radius: 93px 21px;
    border-bottom-right-radius: 93px 21px;
    position: absolute;
    left: 376px;
    top: 292px;
}
.belly-white{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #fff;
    position: absolute;
    left: 384px;
    top: 281px;
}
/*口袋*/
.pocket{
    width: 112px;
    height: 62px;
    border-radius: 0 0 62px 62px;
    border: 2px solid #000;
    background-color: #fff;
    position: absolute;
    left: 398px;
    top: 348px;
}

/*铃铛*/

.jingle{
    position: relative;
}
.jin-big-circle{
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #ffe438;
    position: absolute;
    left: 439px;
    top: 293px;
}
.cross-l-two{
    width: 38px;
    height: 10px;
    border-top: 2px solid #000;
    border-radius: 50% / 50%;
    position: absolute;
    left: 436px;
    top: 302px;
}
.cross-l-one{
    width: 34px;
    height: 10px;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-radius: 50% / 50%;
    position: absolute;
    left: 437px;
    top: 302px;
    background-color: #ffe438;
}
.cross-l-three{
    width: 38px;
    height: 10px;
    border-top: 2px solid #000;
    border-radius: 50% / 50%;
    position: absolute;
    left: 437px;
    top: 305px;
}
.jin-small-circle{
    width: 5px;
    height: 5px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #635544;
    position: absolute;
    left: 452px;
    top: 311px;
}
.jin-line{
    height: 5px;
    border: 1px solid #000;
    position: absolute;
    left: 456px;
    top: 319px;
}

.gap{
    width: 20px;
    height: 8px;
    background-color: #fff;
    border: 2px solid #000;
    border-bottom: 0;
    border-radius: 11px 12px 0 0;
    position: absolute;
    left: 446px;
    top: 427px;
}
/*腿*/
.leg-left {
    width: 75px;
    height: 130px;
    background-color: #00a0e8;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    border-bottom-left-radius: 336px 77px;
    border-bottom-right-radius: 52px;
    border-top-left-radius: 34px 230px;
    position: absolute;
    left: 375px;
    top: 306px;
    transform: rotateZ(-3deg);
}
.leg-right{
    width: 75px;
    height: 130px;
    background-color: #00a0e8;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-bottom-right-radius: 349px 77px;
    border-bottom-left-radius: 9px;
    border-top-right-radius: 19px 124px;
    position: absolute;
    left: 462px;
    top: 306px;
    transform: rotateZ(2deg);
}


.left-arm{
    width: 25px;
    height: 50px;
    background-color: #00a0e8;
    border: 2px solid #000;
    border-radius: 41% / 85%;
    position: absolute;
    /* transform-origin: 50% 0; */
    /* transform: rotateZ(39deg); */
    left: 3px;
    /* top: 298px; */
}
.left-finger{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    /* left: 8px; */
    top: 36px;
}

.right-arm{
    width: 25px;
    height: 50px;
    background-color: #00a0e8;
    border: 2px solid #000;
    border-radius: 41% / 85%;
    position: absolute;
    transform: rotateZ(-40deg);
    left: 529px;
    top: 291px;
}
.right-finger{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    left: 550px;
    top: 324px;
}

.foot-right{
    width: 78px;
    height: 37px;
    border: 2px solid #000;
    background-color: #fff;
    border-bottom-left-radius: 70px 41px;
    border-bottom-right-radius: 92px 50px;
    border-top-left-radius: 48px 63px;
    border-top-right-radius: 73px 42px;
    position: absolute;
    left: 466px;
    top: 423px;
}
.foot-left{
    width: 78px;
    height: 37px;
    border: 2px solid #000;
    background-color: #fff;
    border-bottom-right-radius: 70px 41px;
    border-bottom-left-radius: 92px 50px;
    border-top-right-radius: 48px 63px;
    border-top-left-radius: 73px 42px;
    position: absolute;
    left: 367px;
    top: 423px;
}

.left-hand{
    width: 35px;
    height: 70px;
    transform-origin: 50% 0;
    position: absolute;
    left: 367px;
    top: 299px;
    transform: rotateZ(40deg);
    -webkit-animation: wave-hand 2s cubic-bezier(0.31, 0.31, 0.61, 0.6);
    -webkit-animation-delay: 2.5s;

}